<html>
    <head>
        <title>Image Evolution</title>
        <script type="text/JavaScript">
            var url = 'static/pictures/fogbranch.png';
            //var urlData = 'static/pictures/data.png';
            var refreshInterval = 1000;
            var drawDate = true;
            var img;
            var canvasWidth = 650;
            var canvasHeight = 350;
            

            function init() {
                var canvas = document.getElementById("canvas");
                var context = canvas.getContext("2d");
                img = new Image()
                img2 = new Image()
                img.onload = function() {
                    canvas.setAttribute("width", canvasWidth);
                    canvas.setAttribute("height", canvasHeight);
                    //context.drawImage(this, 0, 0);

                    context.drawImage(this, 0, 0, img.width, img.height, 0, 0, 250, 350);
                    //context.drawImage(img, 0, 0, img.width, img.height, 0, 0, canvas.width, canvas.height);


                    if(drawDate) {
                        var now = new Date();
                    }
                };

                refresh();
            }
            function refresh() {
                img.src = url + "?t=" + new Date().getTime();
                setTimeout("refresh()", refreshInterval);
            }

        </script>

   

    </head>
    <img src='static/pictures/mona1.png' width=250px height=350px>
    <img src='static/pictures/data.png' width=250px height=350px>
    <body onload="JavaScipt:init();"> 
        <canvas id="canvas" style="border: 1px solid black;"></canvas>

    </body>
</html>
