<html>
    <head>
        <title>Image Evolution</title>
        <script type="text/JavaScript">
            var url = 'static/pictures/fogbranch.png';
            var refreshInterval = 1000;
            var drawDate = true;
            var img;
            var canvasWidth = 650;
            var canvasHeight = 350;
            

            function init() {
                var canvas = document.getElementById("canvas");
                var context = canvas.getContext("2d");
                img = new Image()
                img.onload = function() {
                    canvas.setAttribute("width", canvasWidth);
                    canvas.setAttribute("height", canvasHeight);
                    //context.drawImage(this, 0, 0);

                    context.drawImage(this, 0, 0, img.width, img.height, 0, 0,
                        250, 350);
                    //context.drawImage(img, 0, 0, img.width, img.height, 0, 0,
                    //    canvas.width, canvas.height);


                    // Data
                    context.font = "15px Arial";
                    context.fillText("Time : " + {{.Time}}, 300, 40);
                    context.fillText("Generations : " + {{.Generation}}, 300, 80);
                    context.fillText("Best of This Generation : " + {{.Fitness}}, 300, 120);
                    context.fillText("Peak : " + {{.Peak}}, 300, 160);
                    context.fillText("Population : " + {{.Population}}, 300, 200);
                    context.fillText("Pool Size: " + {{.SizePool}}, 300, 240);
                    context.drawImage({{.Image}});

                    if(drawDate) {
                        var now = new Date();
                        //var maxWidth = 100;
                        //var x = img.width-10-maxWidth;
                        //var y = img.height-10;
                        //context.lineWidth = 2;
                    }
                };
                refresh();
            }
            function refresh() {
                img.src = url + "?t=" + new Date().getTime();
                setTimeout("refresh()", refreshInterval);
            }

        </script>

   

    </head>

    <body> 
        <script>JavaScript:init();</script>
        <canvas id="canvas" style="border: 1px solid black;"></canvas>
    </body>
</html>
