<html>
    <head>
        <h2>PICTURE PART TWO</h2>
        <title>Image Evolution</title>
        <script type="text/JavaScript">
            document.getElementById("info").innerHTML = "Generations : " +
        {{.Generation}} + "| Best : " + {{.Fitness}} + "| Match Rate : " +
        {{.Peak}} + {{.SizePool}};
            var url = 'static/pictures/fog.png';
            var refreshInterval = 1000;
            var drawDate = true;
            var img;
            var canvasWidth = 250;
            var canvasHeight = 350;
            
            function init() {
                var canvas = document.getElementById("canvas");
                var context = canvas.getContext("2d");
                img = new Image()
                img.onload = function() {
                    canvas.setAttribute("width", canvasWidth);
                    canvas.setAttribute("height", canvasHeight);
                    //context.drawImage(this, 0, 0);
                    context.drawImage(img, 0, 0, img.width, img.height, 0, 0,
                        canvas.width, canvas.height);

                    if(drawDate) {
                        var now = new Date();
                        //var maxWidth = 100;
                        //var x = img.width-10-maxWidth;
                        //var y = img.height-10;
                        //context.lineWidth = 2;
                    }
                };
                refresh();
            }
            function refresh() {
                img.src = url + "?t=" + new Date().getTime();
                setTimeout("refresh()", refreshInterval);
            }
        </script>
    </head>
    <body>
        <form
            enctype="multipart/form-data"
            action="http://localhost:5000/upload"
            method="post"
            >
            <input type="file" name="myFile" />
            <input type="submit" value="upload" />
        </form>
        <div id="info"></div>
        <img src='static/pictures/mona1.png' width=250px height=350px>
        <script>init();</script> 
        <canvas id="canvas"/>

    </body>
</html>
